# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Build
dist/
build/
lib/
*.tsbuildinfo

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Documentation
RELEASE.md